@charset "utf-8";
body{font:400 14px/1.5 "\5FAE\8F6F\96C5\9ED1",Helvetica;color:#000;background-color:#fff;-webkit-user-select:none;-webkit-text-size-adjust:none}
body,div,dl,dt,dd,del,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,menu{margin:0;padding:0}
input[type=text],textarea{-webkit-appearance:none;outline:0}
button{outline:0}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:400}
ol,ul,li{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:400;font-style:normal}
q:before,q:after{content:''}
abbr,acronym{border:0}
header,section,footer{display:block;margin:0;padding:0}
a{color:#101010;text-decoration:none}
.dn{display:none}
.oh{ overflow:hidden;}

html,*{
    outline: 0;
    -webkit-text-size-adjust: none;
    tap-highlight-color: rgba(0,0,0,.05);
    -webkit-tap-highlight-color: rgba(0,0,0,.05);
    -ms-tap-highlight-color: rgba(0,0,0,.05);
}

input {-webkit-appearance:none; /*去除input默认样式*/}

img{ display:block;}
.tc{ text-align:center}
.tl{ text-align:left}
.tr{ text-align:right}

.fl{ float:left;}
.fr{ float:right;}

.left{
	display: block;
    position: absolute;
    top: 0;
	left:0;
    z-index: 10;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.right{
	display: block;
    position: absolute;
    top: 0;
	right:0;
    z-index: 10;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;}

.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.mui-flex{
	display: -webkit-box!important;
    display: -webkit-flex!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
	}
.mui-flex2{
	display: -webkit-box!important;
    display: -webkit-flex!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
	}
.flex-1 {
    -webkit-flex: 1;
    flex: 1;
    overflow: hidden;
}
.flex {
	flex-basis:25%;
	overflow: hidden;
}
.box{
	 -webkit-box-sizing: border-box;
	 -moz-box-sizing: border-box;
    box-sizing: border-box;}
	
.ellipsis{
	display: block;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;}

html{font-size:100px}
body{font:400 14px/1.5 "\5FAE\8F6F\96C5\9ED1",Helvetica;background:#f5f5f5;font-size:.14rem;color:#1b1b1b}

button,input,select,textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    -webkit-tap-highlight-color: transparent
}



.scrollbar::-webkit-scrollbar{
	display:none;
}


.icon{ background:url(../img/icon.png); display:inline-block; background-size:auto 3rem;}
.pages{max-width:1080px;margin:0 auto; position:relative}
.hd-wrap{ background:#7650f6;
    width: 100%;
    height: .4rem;
	position:relative;
	 text-align:center;
    overflow:hidden;
}
.loginicon{
	display: -webkit-box;
	display: -moz-box;
    display: box;
    width: .23rem;
    height: .23rem;
    margin: .11rem .1rem .11rem .1rem;
    overflow: hidden;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    -moz-box-pack: center;
    -moz-box-align: center;
	background-size:auto 3rem;
	background-position:right -1.1rem;}
.loginicon img{ width:100%; border-radius:50%;}
.hd-logo{
	height:.2rem;
	margin:.12rem auto;
	color:#fff;
	font-size:.16rem;
	line-height:1;
}

.hd-logo a{ color:#fff;}

.home-footer{
	font-size:.12rem;
	background:#f5f5f5;
	color:#666;
	line-height:1.5;
	padding:.1rem 0 .2rem;

}
.home-footer a{
	color:#666;
}
.home-footer p,.c999{
	font-size:.1rem;
	color:#999;

}	

.return{
	background-position:-.4rem .1rem;
	width:.44rem;
	height:.44rem;
	padding: .11rem .1rem .11rem .1rem;
	margin:0;
}
.returnhome{background-position:-1.3rem .1rem;}


/*颜色*/
.c-main{color:#7650f6;}/*主色*/

.bg-main{ background:#7650f6;color:#fff;}
.bg-red{ background:#f12b2b;color:#fff;}
.bg-blue{ background:#259dec;color:#fff;}/*蓝色*/
.bg-yellow{ background:#ffc001;color:#fff;}/*黄色*/
.bg-green{ background:#7650f6;color: #fff;}

/*图标*/
.support-btn{
    width: .14rem;
    height: .14rem;
    margin-right:.03rem;
	background:url(../img/icon.png) no-repeat right -0.9rem;
	background-size:auto 3rem;
	vertical-align:bottom;
	margin-left:.1rem;
}
.comment-btn{
    width: .14rem;
    height: .14rem;
    margin-right:.03rem;
	background:url(../img/icon.png) no-repeat right -1.4rem;
	background-size:auto 3rem;
	vertical-align:bottom;
	margin-left:.1rem;
}
.logo{ background:url(../img/logo.png) no-repeat; background-size: auto 100%; height:.44rem; width:1.2rem; display:block; text-indent:-99999px;}
.heibg{
	background: #000;
    opacity: 0.6;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    display: none;}
.layer-box{ background:#fff; position:fixed; top:50%; left:.1rem; right:.1rem; z-index:11; margin-top:-2rem; text-align:center; display:none;}
.layer-box .h-title{ font-size:.16rem; line-height:.4rem; }
.layer-box .input-text{ margin-top:.2rem; position:relative;}
.Pyan{ position:absolute; right:5%; top:0; width:.4rem; height:.4rem; background:url(../img/yan_hide.png) center no-repeat; background-size:18px 16px;}
.Pyanon{ background:url(../img/yan_show.png)center no-repeat;background-size:18px 16px; }
.layer-box input{ width:90%; border:1px solid #e8e8e8; line-height:.16rem; text-indent:.1rem; padding:.12rem .05rem;}
.sit-btn {    width: 100%;
    background: #f3f3f3;
    height: .4rem;
    line-height: .4rem;
    border-top: 1px solid #d7d7d7; margin-top:.2rem;}


.alert {
    text-align: center;
    min-height: .24rem;
    color: #fff;
    position: fixed;
    left: 0;
    width: 100%;
    top: 50%;
    margin-top: -0.12rem;
    z-index: 101;
    font-size:16px;

}

.alert span {
    background: rgba(0,0,0,.8);
    padding: .08rem .3rem .08rem .3rem;
    border-radius: .05rem;
    min-width: 1.6rem;
    max-width: 2.4rem;
    -webkit-border-radius: .05rem;
    font-size: .16rem;
    line-height: .24rem;
    display: inline-block
}
.pagination{text-align:center;background: #fff;padding-bottom: .1rem;}
.pagination li{display:inline-block;padding: .05rem .1rem;background:#fff;margin: .1rem .02rem 0;border:1px solid #eee;}
.pagination .active{background: #00A34F;  color: #fff;border: 1px solid #7650f6;}